<div>
  <div>
    <h1>
      List of all contact requests
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new contact request
    </h2>

    <form action="/insert_contact_request" method="post">
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id">
      </div>

      <button>
        Create contact request
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Sender
        </th>

        <th>
          Recipient
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_contact_requests.each do |a_contact_request| %>
      <tr>
        <td>
          <%= a_contact_request.id %>
        </td>

        <td>
          <%= a_contact_request.sender_id %>
        </td>

        <td>
          <%= a_contact_request.recipient_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_contact_request.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_contact_request.updated_at) %> ago
        </td>

        <td>
          <a href="/contact_requests/<%= a_contact_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.css">
<style>
body, html {height: 100%}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

</style>
</head>
<body> 
<% @my_sent_requests = RoommateRequest.where({ :sender_id => @current_user.id})%>
<table border="5" style="width:75%">
<tr>
<% @my_sent_requests.each do |a_roommate_request| %>
  <% @this_request = User.where({ :id => a_roommate_request.recipient_id}).at(0) %>
  <% @this_request_preferences = Preference.where({ :user_id => a_roommate_request.recipient_id}).at(0) %>
  <% @requested_by_you = RoommateRequest.where({ :sender_id => @current_user.id}).where({ :recipient_id => @this_request.id}).at(0) %>
  <% @requested_to_you = RoommateRequest.where({ :recipient_id => @current_user.id}).where({ :sender_id => @this_request.id}).at(0) %>
  <% if @requested_by_you != nil && @requested_to_you != nil %>
  <div class="card mb-3" align="center">
  <a href="/members_list/<%= @this_request.id %>"><h3 class="card-header"><%= @this_request.first_name%></h3></a>
  <div class="card-body">
    <h5 class="card-title"> <span class="badge rounded-pill bg-success">Matched</span></h5>
    <% if ContactRequest.where( { :sender_id => @current_user.id }).where({ :recipient_id => @this_request.id}).at(0) != nil%>
    <h5 class="card-title"> <span class="badge rounded-pill bg-info">Contacted</span></h5>
    <% end %>
  </div>

  <div align="center">
    <img src="<%= @this_request_preferences.picture %>" class="img-responsive"  style="max-width: 25%;">
    </div>
  <div class="card-body">
    <p class="card-text"><%= @this_request.email %></p>
    <p class="card-text"><%= @this_request_preferences.telephone %></p>
  </div>
  <% end %>
<tr>
<% end %>
</table>

