<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.css">
    <style>
      body, html {height: 100%}
      .bgimg {
        background-image: url('https://vastphotos.com/files/uploads/photos/10588/chicago-skyline-photo-l.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
      table#table1 {
          width:70%;
          margin-left:15%;
          margin-right:15%;
        }
    </style>
  </head>
  <body>
    <% @my_preferences = Preference.all.where({ :user_id => @current_user.id}).order({ :created_at => :desc}).at(0) %>
    <% if @my_preferences != nil%>
    <table class="table table-hover" id="table1">
      <thead colspan="2">
      </thead>
        <tr colspan>
          <th><h1>
          Profile
        </h1>
      </div></th>
        </tr>
  
      <tbody>
        <tr>
          <th scope="row">Profile Picture</th>
          <td><img src="<%= @my_preferences.picture %>" class="img-responsive"  style="max-width: 50%;">
          </td>
        </tr>
        <tr>
          <th scope="row">Cleanliness</th>
          <td><%= @my_preferences.clean%></td>
        </tr>
        <tr>
          <th scope="row">Number of roommates</th>
          <td><%= @my_preferences.roommate_num%></td>
        </tr>
        <tr>
          <th scope="row">Number of bathrooms</th>
          <td><%= @my_preferences.bathroom_num %></td>
        </tr>
        <tr>
          <th scope="row">Person Type</th>
          <td><%= @my_preferences.person_type%></td>
        </tr>
        <tr>
          <th scope="row">Industry</th>
          <td><%= @my_preferences.industry%></td>
        </tr>
        <tr>
          <th scope="row">Max Rent</th>
          <td>$<%= @my_preferences.max_rent%></td>
        </tr>
        <tr>
          <th scope="row">Amenities</th>
          <td>
            <% if @my_preferences.elevator %>
              <span class="badge rounded-pill bg-warning"> Elevator </span>
            <% end %>
            <% if @my_preferences.doorman %>
              <span class="badge rounded-pill bg-warning">Doorman</span>
            <% end %>
            <% if @my_preferences.laundry %>
              <span class="badge rounded-pill bg-warning">In-unit laundry </span>
            <% end %>
            <% if @my_preferences.air_conditioner%>
              <span class="badge rounded-pill bg-warning">Air-conditioner</span>
            <% end %>
            <% if @my_preferences.transportation %>
              <span class="badge rounded-pill bg-warning">Close to public transportation</span>
            <%end %>
            <% if @my_preferences.pets %>
              <span class="badge rounded-pill bg-warning">Pet-friendly</span>
            <%end %>
          </td>
        </tr>
      </tbody>
    </table>
    <form>
      <table class="table" id="table1">
      <tr align="center">
        <td>
          <a href="/welcome"><button type="button" class="btn btn-outline-warning">Update Profile</button></a>
        </td>
        <td>
        <a href="/members_list"><button type="button" class="btn btn-outline-info">Go to members</button></a>
        </td>
      </tr>
    </table>
    </form>
  <br>
  <% else %>
 <table class="table table-hover" id="table1">
      <thead colspan="2">
      </thead>
        <tr colspan>
          <th><h1>
          Profile
        </h1>
      </div></th>
        </tr>
  
      <tbody>
        <tr>
          <th scope="row">Profile Picture </th>
          <td>No current selection
          </td>
        </tr>
        <tr>
          <th scope="row">Cleanliness</th>
          <td>No current selection</td>
        </tr>
        <tr>
          <th scope="row">Number of roommates</th>
          <td>
          No current selection</td>
        </tr>
        <tr>
          <th scope="row">Number of bathrooms</th>
           <td>No current selection
          </td>
        </tr>
        <tr>
          <th scope="row">Person Type</th>
           <td>No current selection
          </td>
        </tr>
        <tr>
          <th scope="row">Max Rent</th>
         <td>No current selection
          </td>
        </tr>
        <tr>
          <th scope="row">Amenities</th>
          <td>No current selection
          </td>
        </tr>
      </tbody>
    </table>
    <form>
      <table class="table" id="table1">
      <tr align="center">
        <td>
          <a href="/welcome"><button type="button" class="btn btn-outline-info">Complete Profile</button></a>
        </td>
      </tr>
    </table>
    </form>
  <br>
  <% end %>
  </body>
  </html>
  <!--  <div>
      <div>
        <h2>
          Update Preferences:
        </h2>
        <form action="/modify_preference/:path_id" method="post">
          <div>
            <label class="col-form-label mt-4" for="roommate_num">Which form answer would you like to update?</label>
            <select class="custom-select" id="roommate_num" name="query_roommate_num">
              <option selected>Choose...</option>
              <option>Number of roommates</option>
              <option>Number of bathrooms</option>
              <option>Person Type</option>
              <option>Max Rent</option>
              <option>Amenities</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
