<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.css">
<style>
body, html {height: 100%}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

</style>
</head>
<body> 
<div>
  <div>
    <h1>
      <%= @current_user.first_name%>'s Preferred Roommates
    </h1>
  </div>
</div>

<hr>
<% @my_sent_requests = RoommateRequest.where({ :sender_id => @current_user.id})%>

<!-- <div>
  <div>
    <h2>
      Add a new roommate request
    </h2>

    <form action="/insert_roommate_request" method="post">
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id">
      </div>

      <button>
        Create roommate request
      </button>
    </form>
  </div>
</div>-->

<div>
  <div>
    <table style="width:50%" class="center">
      <tr>
        <th  style="text-align: center; vertical-align: middle;">
          Profile Picture
        </th>

        <th>
          First name
        </th>

        <th>
          Last Name
        </th>

        <th>
          When Added
        </th>

        <th>
          Status
        </th>

        <th>
        Show More
        </th>
      </tr>

      <% @my_sent_requests.each do |a_roommate_request| %>
      <tr>
      <td>
        <% @this_request = Preference.where({ :user_id => a_roommate_request.recipient_id}).at(0) %>
        <div style="display: flex; justify-content: center;">
        <img src="<%= @this_request.picture %>" class="img-responsive"  style="max-width: 50%;">
        </div>
        </td>

        <td>
          <%= User.where({ :id => a_roommate_request.recipient_id}).at(0).first_name %>
        </td>

        <td>
            <%= User.where({ :id => a_roommate_request.recipient_id}).at(0).last_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_roommate_request.created_at) %> ago
        </td>
         <td>
          <span class="badge rounded-pill bg-info">Pending</span>
        </td>
        <td>
          <a href="/roommate_requests/<%= a_roommate_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
</body>
</html>