<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.css">
<style>
body, html {height: 100%}

.bgimg {
  background-image: url('https://vastphotos.com/files/uploads/photos/10588/chicago-skyline-photo-l.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }

</style>
</head>
<body>
<!--     the_id = params.fetch("path_id")

    matching_roommate_requests = RoommateRequest.where({ :id => the_id })
    @the_roommate_request = matching_roommate_requests.at(0)-->


<div align="center">
<table border="1" style="width:50%" class="center">
<% @this_user = User.where({ :id => @the_roommate_request.sender_id}).at(0) %>
<% @the_preference = Preference.where({ :user_id => @the_roommate_request.sender_id}).at(0)%>
<div class="alert alert-success" role="alert">
  You've matched with <%= @this_user.first_name %>!
</div>
<th  style="text-align:center">
  <br>
    <h1>
      <%= @this_user.first_name %>'s Details
    </h1>
  </th>
  <tr style="text-align:center">
    <td>
      <div>
        <dd>
          <img src="<%= @the_preference.picture %>" class="img-responsive"  style="max-width: 50%;">
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Phone Number
        </dt>
        <dd>
          <%= @the_preference.telephone %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Email
        </dt>
        <dd>
          <%= @this_user.email %>
        </dd>
      </div>
    </td>
  </tr>
</table>
<div> 
<br>
<div align="center"><a href="/received_roommate_requests">Go back <a></div>
</body>
</html>
