<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.css">
<style>
body, html {height: 100%}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

</style>
</head>
<body> 

<% @this_user = User.where({ :id => @the_roommate_request.recipient_id }).at(0)%>
<% @the_preference = Preference.where({ :user_id =>  @the_roommate_request.recipient_id }).at(0)%>

<div class="d-grid gap-2" align="center">
<form action="/delete_roommate_request/<%= @the_roommate_request.id %>">
  <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>"</input>
  <input type="hidden" name="query_recipient_id" value="<%= @this_user.id %>"></input>
  <button class="btn btn-lg btn-outline-danger" type="submit">Delete from Preferred Roommates</button></a>
</form>
</div> 
<div>
      

<!--<div>
        <a href="/delete_roommate_request/<%= @the_roommate_request.id %>">
          Delete roommate request
        </a>
      </div>
</div>-->


<hr>
<table border="1" style="width:50%" class="center">
  <th  style="text-align:center">
  <br>
    <h1>
      <%= @this_user.first_name %>'s Details
    </h1>
  </th>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Profile picture
        </dt>
        <dd>
          <img src="<%= @the_preference.picture %>" class="img-responsive"  style="max-width: 50%;">
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          I am a
        </dt>
        <dd>
          <%= @the_preference.person_type %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          My post-graduation plan is 
        </dt>
        <dd>
          <%= @the_preference.industry %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Maximum per person rent I'm willing to pay
        </dt>
        <dd>
          $<%= @the_preference.max_rent %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Looking for this number of roommates
        </dt>
        <dd>
          <%= @the_preference.roommate_num %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Looking for this number of bathrooms
        </dt>
        <dd>
          <%= @the_preference.bathroom_num %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Looking for the following amenities
        </dt>
        <dd>
            <% @user_preference = Preference.all.where({ :user_id => @this_user.id }).where({ :id => @the_preference.id}).at(0) %>

            <% if @user_preference.elevator %>
              <span class="badge rounded-pill bg-warning"> Elevator </span>
            <% end %>
            <% if @user_preference.doorman %>
              <span class="badge rounded-pill bg-warning">Doorman</span>
            <% end %>
            <% if @user_preference.laundry %>
              <span class="badge rounded-pill bg-warning">In-unit laundry </span>
            <% end %>
            <% if @user_preference.air_conditioner%>
              <span class="badge rounded-pill bg-warning">Air-conditioner</span>
            <% end %>
            <% if @user_preference.transportation %>
              <span class="badge rounded-pill bg-warning">Close to public transportation</span>
            <%end %>
            <% if @user_preference.pets %>
              <span class="badge rounded-pill bg-warning">Pet-friendly</span>
            <%end %>
        </dd>
      </div>
    </td>
    <br>
  </tr>
</table>


<!--<div>
  <div>
    <h2>
      Edit roommate request
    </h2>

    <form action="/modify_roommate_request/<%= @the_roommate_request.id %>"  method="post" >
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_roommate_request.sender_id %>">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" value="<%= @the_roommate_request.recipient_id %>">
      </div>

      <button>
        Update roommate request
      </button>
    </form>
  </div>
</div>-->
<br>
<div align="center"><a href="/roommate_requests">Go back <a></div>

<hr>
