<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <!--<div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
    <div class="alert alert-warning" role="alert">
      <%= notice %>
    </div>-->
    <% if @current_user != nil %>
      <% @my_preference = Preference.where({ :user_id => @current_user }).at(0)%>
      <% if @my_preference == nil %>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <div class="container-fluid">
          <a class="navbar-brand" href="/">AHN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user_sign_out">Sign out</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
       <div class="container-fluid">
          <a class="navbar-brand" href="/">AHN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/preferences">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/members">Search List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/roommate_requests">Roommate Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/messages">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user_sign_out">Sign-out</a>
              </li>
            </ul>
            </div>
          </div>
        </nav>
      <% end %>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AHN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user_sign_up">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user_sign_in">Sign in</a>
              </li>
            </ul>
            </div>
        </div>
            </nav>
          <% end %>
          <br>
          <%= yield %>
          <br>
          <br>
        </body>
      </html>
