These are all our members: You can filter based on your interests.
<hr>
<div>
  <div>
    <table class = "table table-hover" border="1" style="width:100%">
      <tr class="table-warning">
        <th >
          First Name
        </th>
        <th >
          Last Name
        </th>
        <th>
          Gender
        </th>
        <th>
          University
        </th>
        <th>
          Current City
        </th>
        <th>
          Destination City
        </th>
              <th>
          Move-in Date
        </th>
        <th>
          More info
        </th>
      </tr>
      <% @list_of_members.each do |a_member| %>
        <tr>
          <td>
            <%= a_member.first_name %>
          </td>
          <td>
            <%= a_member.last_name %>
          </td>
          <td>
            <%= a_member.gender %>
          </td>
          <td>
            <%= a_member.university %>
          </td>
          <td>
            <%= a_member.from_city %>
          </td>
          <td>
            <%= a_member.to_city %>
          </td>
          <td>
            <%= a_member.movedate %>
          </td>
          <td>
            <a href="/members_list/<%= a_member.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
