<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap.css">
<style>
body, html {height: 100%}
.bgimg {
  background-image: url('https://vastphotos.com/files/uploads/photos/10588/chicago-skyline-photo-l.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }

</style>
</head>
<body>


<% @this_user = User.all.where({ :id => @the_preference.user_id}).at(0) %>
<% @this_request = RoommateRequest.where({ :recipient_id => @this_user.id}).where({ :sender_id => @current_user}).at(0) %>
<% if @this_request == nil %>
<div class="d-grid gap-2" align="center">
<form action="/insert_roommate_request" method="post">
  <input type="hidden" name="query_sender_id" value="<%= @current_user.id %>"</input>
  <input type="hidden" name="query_recipient_id" value="<%= @this_user.id %>"></input>
  <button class="btn btn-outline-success" type="submit">Send Roommate Inquiry</button></a>
</form>
</div> 
<% else%>
<div align="center" class="alert alert-info" role="alert">
  You've already added this user! 
</div>
<% end %>
<table border="1" style="width:50%" class="center">
  <th  style="text-align:center">
  <br>
    <h1>
      <%= @this_user.first_name %>'s Details
    </h1>
  </th>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Profile picture
        </dt>
        <dd>
          <img src="<%= @the_preference.picture %>" class="img-responsive"  style="max-width: 50%;">
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          I am a
        </dt>
        <dd>
          <%= @the_preference.person_type %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          My post-graduation plan is 
        </dt>
        <dd>
          <%= @the_preference.industry %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Maximum per person rent I'm willing to pay
        </dt>
        <dd>
          $<%= @the_preference.max_rent %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Looking for this number of roommates
        </dt>
        <dd>
          <%= @the_preference.roommate_num %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          Looking for this number of bathrooms
        </dt>
        <dd>
          <%= @the_preference.bathroom_num %>
        </dd>
      </div>
    </td>
  </tr>
  <tr style="text-align:center">
    <td>
      <div>
        <dt>
          My preferred apartment amenities
        </dt>
        <dd>
            <% @user_preference = Preference.all.where({ :user_id => @this_user.id }).where({ :id => @the_preference.id}).at(0) %>

            <% if @user_preference.elevator %>
              <span class="badge rounded-pill bg-warning"> Elevator </span>
            <% end %>
            <% if @user_preference.doorman %>
              <span class="badge rounded-pill bg-warning">Doorman</span>
            <% end %>
            <% if @user_preference.laundry %>
              <span class="badge rounded-pill bg-warning">In-unit laundry </span>
            <% end %>
            <% if @user_preference.air_conditioner%>
              <span class="badge rounded-pill bg-warning">Air-conditioner</span>
            <% end %>
            <% if @user_preference.transportation %>
              <span class="badge rounded-pill bg-warning">Close to public transportation</span>
            <%end %>
            <% if @user_preference.pets %>
              <span class="badge rounded-pill bg-warning">Pet-friendly</span>
            <%end %>
        </dd>
      </div>
    </td>
    <br>
  </tr>
</table>
<br>

<div align="center"><a href="/members">Go back <a></div>
</body>
</html>